<a href="https://colab.research.google.com/github/Navaneethkinik/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question1
print('Name : Navaneeth Kini k')
print ('Adress : karattuvayal , kanhangad')
print ('Telephone no. : 7306074202')

Name : Navaneeth Kini k
Adress : karattuvayal , kanhangad
Telephone no. : 7306074202

In [ ]:
 
#question2
 
name=input('Enter your name :')
print('Your name is ',name)

Enter your name :Navaneeth
Your name is  Navaneeth

In [ ]:
 
#question3
 
length=float (input('Enter the length of rectangle : '))
breadth=float(input('Enter the breadth of rectangle : '))
area=length*breadth
print('Area of rectangle :',area)

Enter the length of rectangle : 54
Enter the breadth of rectangle : 77
Area of rectangle : 4158.0

In [ ]:
 
#question4
 
base=float(input('Enter the height of triangle : '))
height=float(input('Enter the base of triangle : '))
area=.5*base*height
print ('Area of triangle : ',area)

Enter the height of triangle : 77
Enter the base of triangle : 77
Area of triangle :  2964.5

In [ ]:
 
#question5
 
radius=float(input ('Enter the radius : '))
area=3.14*radius**2
print ('Area of the circle : ',area)

Enter the radius : 100
Area of the circle :  31400.0

In [ ]:
 
#question6
 
name=input('Enter your name : ')
age=input('Enter your age : ')
print('Name :',name ,'  Age :',age)

Enter your name : Navaneeth
Enter your age : 18
Name : Navaneeth   Age : 18

In [ ]:
 
#question7
 
number=float(input('Enter a number :'))
 
print ('one is added ')
print (number+1)

In [ ]:
first_name=input('Enter your first name ')

Enter your first name Navaneeth

All programs done by using colab
 
Navaneeth Kini k
ME-A
Roll.no. :25